/* EventList.css */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax values as needed */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  .event-form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 232, 232, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* EventList.css */

.new-event{
    position: absolute;
    background-color: chartreuse;
    right: 10px; 
  }
  